.site-navbar-wrap{
    background-color: rgb(232, 140, 140) !important;
}
.js-sticky-header{
    background-color: rgb(232, 140, 140) !important;    
}

.space{
    height: 200px;
}


#My_table{
    width: 100%;
    text-align: center;
    border: 1px solid black;
    border-radius: 5%;
}


.Pro-img-Name{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Pro-img-Name img{
    width: 80px;
}

.Totale-cont{
    display: flex;
    flex-direction: column; 
    gap: 10px;
    background-color: #eeeeee;
    padding: 2%;
    border-radius: 2%;
}
.Totale-cont h1{
    align-self: center;
}
.Sec-1-t{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Totale-cont button{
    border: none;
    align-self: center;
    width: 80%;
    height: 50px;
    font-size: 20px;
    border-radius: 2%;
    background-color: black;
    color: white;
    &:hover{
        background-color:crimson;
    }
}

#unit-value{
    text-align: center;
    width: 20%;
}

#plus-btn, #minus-btn{
    border: none;
}