body {
    color: #444444;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
    padding: 1%;
    text-align: center;
    border: 1px solid rgba(165, 165, 165, 0.644);
    border-radius: 5%;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}
.space{
    height: 100px;
}

  
  .rating {
    align-self: center;    
      font-size: 20px;
      
      
  }
.rating input {    
opacity: 0;

}
  .rating a,
.rating label {
    
      color: #aaa;
      text-decoration: none;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
  }
.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
  .rating a:hover,
  .rating a:hover ~ a,
  .rating a:focus,
  .rating a:focus ~ a		{
      color: orange;
      cursor: pointer;
  }
  .rating2 {
      direction: rtl;
  }
  .rating2 a {
      float:none
  }

.Deal_Con{
    border: 1px solid rgba(250, 119, 119, 0.644);
    border-radius: 2%;
    margin-bottom: 50px;
    width: 40%;
    padding: 2%;    
}
.sec-1{
    display: flex;
    align-items: center;    
}
.sec-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;    
}
.sec-2 h1{
    font-size: 30px;
}
.sec-2 h3{
    font-size: 20px;
}

.Deal_Con img{
    width: 180px;    
}

.BG{
    background-color: #f6f6f6;
    padding: 1%;
}

.cont{
    display: flex;
    justify-content: space-around;
}

  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot:hover {
    background-color: #717171;
  }

  .fadee {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  .off_layer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;       
  }
  .off_layer button{
    border: none;
    background-color:white;
    border-radius: 5%;
    width: 30%;
    padding: 1%;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    &:hover{
        background-color: #fe302f;
        color: white;
        .cir img{
            background-color: white;
            color: #fe302f;            
        }
    }
  }

  .cir img{
    border-radius: 50%;
    background-color: #fe302f;    
  }
  
.sec-cont{
    display: flex;
    flex-direction: row;
    padding: 1%;
    border: 1px solid rgba(165, 165, 165, 0.644) !important;
    border-radius: 1%;    
}
  .f-sec-1{
    display: flex;
    flex-direction: column;     
    gap: 10px;
  }
  .cata{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border: 1px solid rgba(165, 165, 165, 0.644);
    border-radius: 2%;
    padding: 1%;
    cursor: pointer;
  }
  .cata a{
    all: unset;
  }
  .cata img{
    width: 100px;
  }

  .cata h3{
    font-size: 20px;
    
    &:hover{
      color: #fe302f;
    }
  }
  
  .f-sec-2 h2{
    font-size: 25px;
  }

  .pro-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(165, 165, 165, 0.644);
    border-radius: 5%;
    
  }
  .pro-cont img{
    width: 180px;
  }
 
  .pro-cont ul{
    gap: 12px;
    
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Small-Space{
    height: 35px;
  }

  .product ul a{
    cursor: pointer;
  }


  .card_ {
    border-radius: 16px;
    width: 100%;
    height: 360px;
    background: url(https://www.digitaltrends.com/wp-content/uploads/2023/05/rtx-4060-ti-review-1.jpg?resize=442%2C360&p=1);/*442*360*/
    position: relative;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0,0,0,.85);
  }
  
  .card_:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.92);
  }
  
  .card_ .img_ {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .card_ .img_ span {
    width: 25%;
    height: 100%;
    background: url(https://www.digitaltrends.com/wp-content/uploads/2023/05/rtx-4060-ti-review-1.jpg?resize=442%2C360&p=1);
    background-size: cover;
    transition: .5s;
  }
  
  .card_ .img_ span:nth-child(1) {
    background-position: 0;
    transition-delay: 0;
  }
  
  .card_ .img_ span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: .1s;
  }
  
  .card_ .img_ span:nth-child(3) {
    background-position: 66.66666%;
    transition-delay: .2s;
  }
  
  .card_ .img_ span:nth-child(4) {
    background-position: 100%;
    transition-delay: .3s;
  }
  
  .card_:hover .img_>span {
    transform: translateY(-100%);
  }
  
  .card_:hover .content_ {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: .1s;
  }
  
  .content_ {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 20px 20px;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }



  .card_2 {
    border-radius: 16px;
    width: 100%;
    height: 360px;
    background: url(https://www.digitaltrends.com/wp-content/uploads/2023/04/nvidia-rtx-4070-review-10.jpg?resize=442%2C360&p=1);/*442*360*/
    position: relative;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0,0,0,.85);
  }
  
  .card_2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.92);
  }
  
  .card_2 .img_2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .card_2 .img_2 span {
    width: 25%;
    height: 100%;
    background: url(https://www.digitaltrends.com/wp-content/uploads/2023/04/nvidia-rtx-4070-review-10.jpg?resize=442%2C360&p=1);
    background-size: cover;
    transition: .5s;
  }
  
  .card_2 .img_2 span:nth-child(1) {
    background-position: 0;
    transition-delay: 0;
  }
  
  .card_2 .img_2 span:nth-child(2) {
    background-position: 33.33333%;
    transition-delay: .1s;
  }
  
  .card_2 .img_2 span:nth-child(3) {
    background-position: 66.66666%;
    transition-delay: .2s;
  }
  
  .card_2 .img_2 span:nth-child(4) {
    background-position: 100%;
    transition-delay: .3s;
  }
  
  .card_2:hover .img_2>span {
    transform: translateY(-100%);
  }
  
  .card_2:hover .content_ {
    transform: translateY(0%);
    transition: 1s;
    transition-delay: .1s;
  }


  .op-Container{
    background-color: #fff;
    width: 100%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .op-Container p{
    text-align: center;
  }
  .op-Container button{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border: none;
    border-radius: 2%;
  }
  
  
  
